<div class="form-group">
    <div class="jumbotron pb-3 pt-3">
        {{ formularios.APLICACION.label }}
        {{ formularios.APLICACION(class="form-control") }}
    </div>
    <div class="jumbotron pb-3 pt-3">
        {{ formularios.SERVIDOR_EJECUCION.label }}
        {{ formularios.SERVIDOR_EJECUCION(class="form-control") }}

        {{ formularios.SERVIDOR_BACKUP_1.label }}
        {{ formularios.SERVIDOR_BACKUP_1(class="form-control") }}

        {{ formularios.PERIOCIDAD_1.label }}
        {{ formularios.PERIOCIDAD_1(class="form-control", rows='8', cols='50') }}

        {{ formularios.HORA_1.label }}
        {{ formularios.HORA_1(class="form-control") }}

        {{ formularios.TIPO_1.label }}
        {{ formularios.TIPO_1(class="form-control") }}

        {{ formularios.RUTA_1.label }}
        {{ formularios.RUTA_1(class="form-control") }}
    </div>
    <div class="jumbotron pb-3 pt-3">
        {{ formularios.SERVIDOR_BACKUP_2.label }}
        {{ formularios.SERVIDOR_BACKUP_2(class="form-control") }}

        {{ formularios.PERIOCIDAD_2.label }}
        {{ formularios.PERIOCIDAD_2(class="form-control", rows='8', cols='50') }}

        {{ formularios.HORA_2.label }}
        {{ formularios.HORA_2(class="form-control") }}

        {{ formularios.RUTA_2.label }}
        {{ formularios.RUTA_2(class="form-control") }}
    </div>
    <div class="jumbotron pb-3 pt-3">
        {{ formularios.SERVIDOR_BACKUP_3.label }}
        {{ formularios.SERVIDOR_BACKUP_3(class="form-control") }}

        {{ formularios.PERIOCIDAD_3.label }}
        {{ formularios.PERIOCIDAD_3(class="form-control", rows='8', cols='50') }}

        {{ formularios.HORA_3.label }}
        {{ formularios.HORA_3(class="form-control") }}

        {{ formularios.RUTA_3.label }}
        {{ formularios.RUTA_3(class="form-control") }}
    </div>
    <div class="jumbotron pb-3 pt-3">
        {{ formularios.SERVIDOR_BACKUP_4.label }}
        {{ formularios.SERVIDOR_BACKUP_4(class="form-control") }}

        {{ formularios.PERIOCIDAD_4.label }}
        {{ formularios.PERIOCIDAD_4(class="form-control", rows='8', cols='50') }}

        {{ formularios.HORA_4.label }}
        {{ formularios.HORA_4(class="form-control") }}

        {{ formularios.RUTA_4.label }}
        {{ formularios.RUTA_4(class="form-control") }}
    </div>
    <div class="jumbotron pb-3 pt-3">
        {{ formularios.OBSERVACIONES.label }}
        {{ formularios.OBSERVACIONES(class="form-control", rows='8', cols='50') }}
    </div>
</div>