{% extends 'layout/base.html' %}
{% block contenido %}
<h3 style="text-align:center">Borrar Backup</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-6">
    <p>¿Estás seguro de borrar el trabajo: {{backup.APLICACION}}</p>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
      <form class="form-horizontal"  method="post">
        <div class="form-group">
          {{formularios.si(class="btn btn-publi") }} {{formularios.no(class="btn btn-publi")}}<br/><br/>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

