{% extends 'layout/base.html' %}
{% block contenido %}


<p><strong>Sesiones cl&iacute;nicas. Abordaje motivacional: facilitando el cambio en adicciones y estilos de vida de los pacientes de atenci&oacute;n primaria</strong></p>

<ul>
	<li><a href="#" onclick="document.getElementById('Documentacion_Sesiones').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />Documentaci&oacute;n de las sesiones.</a>

	<div id="Documentacion_Sesiones" style="display: none;">
	<ul>
		<li><a href="/ups/abordaje_motivacional_adicciones/1FORMACION_EAP_EM_ARGOS_2018.pptx" target="_black">1 Formaci&oacute;n EAP ARGOS 2018</a></li>
		<li><a href="/ups/abordaje_motivacional_adicciones/2FORMACION_EAP_EM_ARGOS_2018.pptx" target="_black">2 Formaci&oacute;n EAP ARGOS 2018</a></li>
		<li><a href="/ups/abordaje_motivacional_adicciones/Pepe_Plano1.mpg" target="_black">Pepe Plano</a></li>
		<li><a href="/ups/abordaje_motivacional_adicciones/Validacion_sub_Corto.mp4" target="_black">Validaci&oacute;n Corto</a></li>
	</ul>
	</div>
	</li>
</ul>

<p>&nbsp;</p>

<p><strong>Curso de Receta Electr&oacute;nica</strong></p>

<ul>
	<li><a href="http://www.ffis.es/ups/Receta_electronica.ppt" target="_black">Presentaci&oacute;n</a></li>
</ul>

<p>&nbsp;</p>

<p><strong>Mantenimiento higi&eacute;nico-sanitario de instalaciones de riesgo frente a legionella (Renovaci&oacute;n)</strong></p>

<ul>
	<li><a href="http://www.ffis.es/herramientas/formacion/archivo-get.php?md5=2e7ba7036454b973d04f1b940e7eef3b&amp;entidad=FFIS" target="_black">Tema 1: Actualizaci&oacute;n normativa en la legislaci&oacute;n nacional y auton&oacute;mica en relaci&oacute;n con legionelosis, prevenci&oacute;n de riesgos laborales y medio ambiente</a></li>
	<li><a href="http://www.ffis.es/herramientas/formacion/archivo-get.php?md5=e660e1b7e0bb3c5f5bf4a291672b6be9&amp;entidad=FFIS">Tema 2: Programa de mantenimiento higi&eacute;nico sanitario: diagn&oacute;stico de situaci&oacute;n. Programa de actuaci&oacute;n. Evaluaci&oacute;n</a></li>
	<li><a href="http://www.ffis.es/herramientas/formacion/archivo-get.php?md5=77052c61915ada825c5164a099ff1bde&amp;entidad=FFIS">Mantenimiento higi&eacute;nico sanitario de instalaciones se riesgo de legionelosis.</a></li>
	<li><a href="http://www.ffis.es/herramientas/formacion/archivo-get.php?md5=5415092057a03f489e9969be8cbc046b&amp;entidad=FFIS">Responsabilidad de las empresas de mantenimiento</a></li>
	<li><a href="http://www.ffis.es/herramientas/formacion/archivo-get.php?md5=49d97e7ad29db41e53369b2d3999302e&amp;entidad=FFIS">Biocidas y productos qu&iacute;micos</a></li>
	<li><a href="http://www.ffis.es/herramientas/formacion/archivo-get.php?md5=7335b33df8f122cabc740950735b1d9d&amp;entidad=FFIS">Aspectos t&eacute;cnicos y puntos cr&iacute;ticos en la valoraci&oacute;n del riesgo</a></li>
</ul>

<p>&nbsp;</p>

<p><strong>Documentaci&oacute;n curso OMI AP Avanzado para Pediatr&iacute;a 2014</strong></p>

<ul>
	<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/PRESENTACION_CURSO.ppt" target="_black">Presentaci&oacute;n de curso</a></li>
	<li><a href="#" onclick="document.getElementById('Documentacion_OMI_Ped_2014_Sobrepeso').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />Sobrepeso Obesidad</a>
	<div id="Documentacion_OMI_Ped_2014_Sobrepeso" style="display: none;">
	<ul>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/CALCULO_DESVIACION_ESTANDAR_PERCENTIL_IMC_V2.xls" target="_black">C&aacute;lculo desviaci&oacute;n est&aacute;ndar percentil IMC V2</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/ENCUESTA%20DE%20ALIMENTACION_AF.pdf" target="_black">Encuesta de alimentaci&oacute;n AF</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/REBOTE%20ADIPOSO%20PRECOZ.pdf" target="_black">Rebote Adiposo Precoz</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/ENCUESTA DE SEGUIMIENTO_U_24H.pdf" target="_black">Encuesta de Seguimiento U 24h</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/PERCENTILES CINTURA_2011.pdf" target="_black">Encuesta Cintura 2011</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/PERCENTIL TA.pdf" target="_black">Percentil TA</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/documento adjunto protocolo obesidad.dot" target="_black">Documento Adjunto Protocolo Obesidad</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/SOBREPESO_OBESIDAD/CARTILLA.doc" target="_black">Cartilla</a></li>
	</ul>
	</div>
	</li>
	<li><a href="#" onclick="document.getElementById('Documentacion_OMI_Ped_2014_Nino_Inmigrante').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />Atenci&oacute;n Ni&ntilde;o Inmigrante</a>
	<div id="Documentacion_OMI_Ped_2014_Nino_Inmigrante" style="display: none;">
	<ul>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/ATENCION NINO INMIGRANTE/Protocolo inmigrante_adopcion.pdf" target="_black">Protocolo de atenci&oacute;n al ni&ntilde;o inmigrante </a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/ATENCION NINO INMIGRANTE/Flujograma Prot_at_inmigrante.pdf" target="_black">Flujograma de protecci&oacute;n ni&ntilde;o inmigrante</a></li>
	</ul>
	</div>
	</li>
	<li><a href="#" onclick="document.getElementById('Documentacion_OMI_Ped_2014_Atencion_Preferente').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />Atenci&oacute;n Preferente</a>
	<div id="Documentacion_OMI_Ped_2014_Atencion_Preferente" style="display: none;">
	<ul>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/ATENCION PREFERENTE/FLUJOGRAMA PROTOCOLO ATENCION PREFERENTE PACIENTES CON DISCAPACIDAD.pdf" target="_black">Flujograma del Protocolo de Atenci&oacute;n Sanitaria Preferente a Personas con Discapacidad del SMS</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/ATENCION PREFERENTE/Borrador III Protocolo AS discapacitados18-05-11.pdf" target="_black">Protocolo de Actuaciones Para la Atenci&oacute;n Sanitaria Preferente y Espec&iacute;fica a Determinados Colectivos de Personas con Discapacidad Intelectual por Parte de los Profesionales del Sistema Sanitario P&uacute;blico de la Regi&oacute;n de Murcia </a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/ATENCION PREFERENTE/PROTOCOLO DE ATENCION PREFERENTE EN ATENCION PRIMARIA.pdf" target="_black">Protocolo de Atenci&oacute;n Preferente en At. Primaria dentro de OMI AP</a></li>
	</ul>
	</div>
	</li>
	<li><a href="#" onclick="document.getElementById('Documentacion_OMI_Ped_2014_Asma_Infantil').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />El Asma Infantil</a>
	<div id="Documentacion_OMI_Ped_2014_Asma_Infantil" style="display: none;">
	<ul>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/CLASIFICACION DEL ASMA SEGUN EL GRADO DE CONTROL.docx" target="_black">Clasificaci&oacute;n del asma seg&uacute;n el grado de control</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/CLASIFICACION DEL ASMA.pdf" target="_black">Clasificaci&oacute;n del asma</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/CUESTIONARIO CAN.pdf" target="_black">Cuestionario CAN </a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/DESCARTAR OTROS DIAGNOSTICOS.pdf" target="_black">Descartar otros diagn&oacute;sticos</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/GRAVEDAD CRISIS DE ASMA.pdf" target="_black">Gravedad crisis de asma</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/INDICE PREDICTIVO DE ASMA.pdf" target="_black">&Iacute;ndice predictivo de asma</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/TRATAMIENTO PARA MAYORES DE 3 ANOS.pdf" target="_black">Tratamiento para mayores de 3 a&ntilde;os</a></li>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/LA ASMA INFANTIL/TRATAMIENTO PARA MENORES DE 3 ANOS.pdf" target="_black">Tratamiento para menores de 3 a&ntilde;os</a></li>
	</ul>
	</div>
	</li>
	<li><a href="#" onclick="document.getElementById('Documentacion_OMI_Ped_2014_TDAH').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />TDAH</a>
	<div id="Documentacion_OMI_Ped_2014_TDAH" style="display: none;">
	<ul>
		<li><a href="/ups/documentacion_formacion/DOCUMENTACION_OMI_2014/TDAH/tdahconsenso.pdf" target="_black">TDAH Consenso</a></li>
	</ul>
	</div>
	</li>
</ul>

<p>&nbsp;</p>

<p><strong>III Jornada de Control y Tratamiento del Tabaquismo en la Regi&oacute;n de Murcia &quot;Entre todos se puede...&quot;</strong></p>

<ul>
	<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/programa.pdf" target="_black">Programa</a></li>
	<li><a href="#" onclick="document.getElementById('Documentacion_tabaquismo_2014').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Presentaciones III Jornada de Control y Tratamiento del Tabaquismo en la Regi&oacute;n de Murcia &quot;Entre todos se puede...: </a>
	<div id="Documentacion_tabaquismo_2014" style="display: none;">
	<ul>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/01.pdf" target="_black">Presentaci&oacute;n</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/02.pdf" target="_black">Datos epidemiol&oacute;gicos del consumo de tabaco en la Regi&oacute;n de Murcia</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/03.pdf" target="_black">Oferta de ayuda para dejar de fumar en el SMS</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/04.pdf" target="_black">Evaluaci&oacute;n econ&oacute;mica en Salud P&uacute;blica:&nbsp;el caso del tabaco</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/05.pdf" target="_black">La importancia de los impuestos en las&nbsp;pol&iacute;ticas de prevenci&oacute;n del tabaquismo</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/06.pdf" target="_black">Cumplimiento de la ley del tabaco en los establecimientos</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/07.pdf" target="_black">mpacto de la ley&nbsp;42/2010 sobre el gasto de los&nbsp;hogares en servicios de hosteler&iacute;a</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/08.pdf" target="_black">Eficacia de las Medidas Legislativas en el&nbsp;Control del Tabaquismo</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/09.pdf" target="_black">Impacto de la Ley de tabaco en la patolog&iacute;a&nbsp;cardiovascular en la Regi&oacute;n de Murcia.</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/10.pdf" target="_black">Cigarrillo electr&oacute;nico:&nbsp;&iquest;M&eacute;todo de ayuda para&nbsp;dejar de fumar o&nbsp;problema para la salud&nbsp;p&uacute;blica?</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/11.pdf" target="_black">Cigarrillo electr&oacute;nico: Medidas Legislativas</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/12.pdf" target="_black">Recomendaciones sobre el cigarrillo&nbsp;electr&oacute;nico y medidas adoptadas en la&nbsp;Regi&oacute;n de Murcia</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/13.pdf" target="_black">Encuentro de la Red de&nbsp;Hospitales libres de Tabaco de&nbsp;la Regi&oacute;n de Murcia</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/14.pdf" target="_black">Experiencia del Hospital Reina Sof&iacute;a</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/15.pdf" target="_black">Experiencia del Hospital Virgen de la Arrixaca</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/16.pdf" target="_black">Intervenci&oacute;n breve&nbsp;Experiencia en la Regi&oacute;n de Murcia</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/17.pdf" target="_black">Intervenci&oacute;n intensiva individual:&nbsp;Experiencia de la Unidad de deshabituaci&oacute;n de Cartagena</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/18.pdf" target="_black">Eficacia de las Medidas de Ayuda Para Dejar de Fumar. Intervenci&oacute;n intensiva grupal.</a></li>
		<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/19.pdf" target="_black">Experiencia de la Unidad de Tabaquismo. Servicios Municipales de Salud. Ayuntamiento de Murcia</a></li>
	</ul>
	</div>
	</li>
	<li><a href="/ups/documentacion_formacion/IIIJornadaTabaquismo/20.pdf" target="_black">Conclusiones III Jornadas de Control y Tratamiento del Tabaquismo de la Regi&oacute;n de Murcia &quot;Entre todos se puede...&quot;</a></li>
</ul>

<p>&nbsp;</p>

<p><strong>Curso de primer y segundo nivel de formaci&oacute;n en protecci&oacute;n radiol&oacute;gica para radiolog&iacute;a intervencionista</strong></p>

<ul>
	<li><a href="#" onclick="document.getElementById('Documentacion_curso_proteccion_radiologica_radiologia_intervencionista_2013').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp; Documentaci&oacute;n del curso: </a>

	<div id="Documentacion_curso_proteccion_radiologica_radiologia_intervencionista_2013" style="display: none;">
	<ul>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista.zip" target="_black"><strong>Todo en un &uacute;nico archivo</strong></a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%201%20Estructura%20de%20la%20materia.pdf" target="_black">Tema 1. Estructura de la materia.</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%202%20INTERACCION%20RADIACION%20%20MATERIA.pdf" target="_black">Tema 2. Interacci&oacute;n radiaci&oacute;n materia.</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%203%20EL%20HAZ%20DE%20RADIACION.%20ESPECTRO%20DE%20RAYOS%20X.pdf" target="_black">Tema 3. El haz de radiaci&oacute;n. Espectro de Rayos X.</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Tema%205.pdf" target="_black">Tema 5.</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Tema%206.pdf" target="_black">Tema 6.</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%207%20DETECCION%20Y%20DOSIMETRIA%20DE%20LA%20RADIACION.pdf" target="_black">Tema 7. Detecci&oacute;n y Dosimetr&iacute;a de la Radiaci&oacute;n</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%208%20MAGNITUDES%20Y%20UNIDADES%20EN%20RI.pdf" target="_black">Tema 8. Magnitudes y Unidades en RI</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%209%20radiobiologia%20general.pdf" target="_black">Tema 9. Radiobiolog&iacute;a general</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Tema%2010%20y%2011%20Legislacion_Cartagena.pdf" target="_black">Tema 10 y 11. Legislaci&oacute;n Cartagena</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%2012%20PROTECCION%20RADIOLOGICA%20GENERAL.pdf" target="_black">Tema 12. Protecci&oacute;n radiol&oacute;gica general</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%2013%20OPTIMIZACION%20PR%20SANTA%20LUCIA%202013.pdf" target="_black">Tema 13. Optimizaci&oacute;n PR Santa Luc&iacute;a 2013</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%2014%20PR%20TRABAJADOR%20SANTA%20LUCIA%202013.pdf" target="_black">Tema 14. PR trabajador Santa Luc&iacute;a 2013</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Tema%2015%20y%2016.pdf" target="_black">Tema 15 y 16.</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/TEMA%2018%20JUSTIFICACION%20Y%20RESPONSABILIDADES%20%20ii.pdf" target="_black">Tema 18. Justificaci&oacute;n y responsabilidades.</a></li>
	</ul>
	</div>
	</li>
	<li><a href="#" onclick="document.getElementById('Bibliografia_curso_proteccion_radiologica_radiologia_intervencionista_2013').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp; Bibliograf&iacute;a relacionada: </a>
	<div id="Bibliografia_curso_proteccion_radiologica_radiologia_intervencionista_2013" style="display: none;">
	<ul>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=f4d04a1225c4029a6fb86fa38af16162&amp;entidad=FFIS" target="_blank">Guidelines for Patient Radiation dose management</a></li>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=3fabc93b052fe25e0acf43eb7a6559fc&amp;entidad=FFIS" target="_blank">Image Gently, Step Lightly Increasing Radiation Dose</a></li>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=54a0a013d76ceace294b57ba958b0e96&amp;entidad=FFIS" target="_blank">Radiation Doses in Interventional Radiology procedures Tha Rad IR study dosimetric performance of the interventional fluoroscopy units</a></li>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=cab24045464de8beb0d32a809fd4577f&amp;entidad=FFIS" target="_blank">Radiation Doses in Interventional Radiology procedures Tha Rad IR study skin dose</a></li>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=d61660c911a1aea1945643d4d63db990&amp;entidad=FFIS" target="_blank">Radiation Doses to Patients and Cardiologists from</a></li>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=d9657cc1cc8cc8219038dd57bf81c54f&amp;entidad=FFIS" target="_blank">Radiation exposure to personnel performing endoscopic</a></li>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=bd8d58a7ec6f20f40f4c91b7fa73644f&amp;entidad=FFIS" target="_blank">Society of Interventional Radiology Position statement on radiation safety</a></li>
		<li><a href="/herramientas/formacion/archivo-get.php?md5=f5b5dbfaad39bc585c9680d1cecace74&amp;entidad=FFIS" target="_blank">Time for a safer environment</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Consentimiento_Radioproteccion.pdf" target="_blank">Propuesta de textos a incluir en los consentimientos informados de pruebas radiol&oacute;gicas relativos a riesgos por radiaciones ionizantes</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Informacion_ Radioproteccion.pdf" target="_blank">Justificaci&oacute;n de pruebas diagn&oacute;sticas con radiaciones inonizantes en Pediatr&iacute;a</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Joint_ Guideline_of_the_Cardiovascular_and_Interventional_Radiology_Society_of_Europe.pdf" target="_blank">Occupational Radiation Protection in Interventional Radiology: A Joint Guideline of the Cardiovascular and Interventional Radiology Society of Europe and the Society of Interventional Radiology</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Normas_proteccion_profesionales.jpg" target="_blank">Normas protecci&oacute;n profesionales</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Normas_proteccion_profesionales2.jpg" target="_blank">Normas protecci&oacute;n profesionales 2</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Optimizing_radiation_use_during_fluoroscopic_procedures_Proceedings_from_a_multidisciplinary_consensus_panel.pdf" target="_blank">Optimizing Radiation Use during Fluoroscopic Procedures: Proceedings from a Multidisciplinary Consensus Panel</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Proteccion_radiologica_en_los_quirofanos.pdf" target="_blank">Protecci&oacute;n radiol&oacute;gica en los quir&oacute;fanos</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Reference_levels_at_european_level_for_cardiac_interventional_procedures.pdf" target="_blank">Reference levels at european level for cardiac interventional procedures</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Reference_levels_for_patient_radiation_doses_in_interventional_radiology_Proposed_initial_values_for_US_practice_ Radiology_2009.pdf" target="_blank">Reference levels for Patient Radiation Doses in Interventional Radiology: Proposed Initial Values for U.S. Practice</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/SIR_Guidelines_for_establishing_a_quality_improvement_program_in_interventional_radiology.pdf" target="_blank">Guidelines for Establishing a Quality Improvement Program in Interventional Radiology</a></li>
		<li><a href="/ups/proteccion_radiologica_radiologia_intervencionista/Vano_radiology_nov_2010.pdf" target="_blank">Clinical Radiation Management for Fluoroscopically Guided Interventional Procedures</a></li>
	</ul>
	</div>
	</li>
</ul>

<p>&nbsp;</p>

<p><strong>Cuidados paliativos </strong></p>

<ul>
	<li><a href="/ups/documentacion_formacion/Dia_mundial_cuidados_paliativos_2008.mpg" target="_blank">V&iacute;deo Promocional D&iacute;a Mundial Cuidados Paliativos</a></li>
	<li><a href="/ups/documentacion_formacion/folleto_exterior.jpg" target="_blank">Exterior del folleto del D&iacute;a Mundial Cuidados Paliativos </a></li>
	<li><a href="/ups/documentacion_formacion/folleto_interior.jpg" target="_blank">Interior del folleto del D&iacute;a Mundial Cuidados Paliativos</a></li>
	<li><a href="http://www.ffis.es/ups/Guia_de_practica_clinica_sobre_Cuidados_Paliativos_del_SNS_2008.pdf" target="_blank">Guia de practica clinica sobre Cuidados Paliativos del SNS 2008</a></li>
	<li><a href="http://www.ffis.es/ups/Manual Competencias en Cuidados Paliativos.pdf" target="_blank">Manual Competencias en Cuidados Paliativos</a></li>
	<li><a href="http://www.ffis.es/ups/PLAN_CUIDADOS_PALIATIVOS_2009_nueva_edicion.pdf" target="_blank">Plan Cuidados Paliativos 2009</a></li>
	<li><a href="http://www.ffis.es/ups/Atencion_a_la_familia_y_cuidados_paliativos_2009.pdf" target="_blank">Atenci&oacute;n a la familia y cuidados paliativos 2009</a></li>
	<li><a href="#" onclick="document.getElementById('Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI').style.display='block'; return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Competencias en Cuidados Paliativos Nivel b&aacute;sico &Aacute;rea VI</a>
	<div id="Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI" style="display: none;">
	<ul>
		<li><a href="#" onclick="document.getElementById('dia_11_de_manana').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;D&iacute;a 11 de ma&ntilde;ana</a>
		<div id="dia_11_de_manana" style="display: none;">
		<ul>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_manana/Coordinacion_en_Cuidados_Paliativo_2009.pdf" target="_blank">Coordinaci&oacute;n en Cuidados Paliativos</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_manana/H_y_Filosofia_de_los_Cuidados_Paliativos_2009.pdf" target="_blank">Historia y Filosof&iacute;a de los Cuidados Paliativos</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_manana/La_actitud_en_cuidados_paliativos_2009.pdf" target="_blank">La actitud en cuidados paliativos</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_manana/Presentacion_del_plan_Integral_de_Cuidados_Paliativos_2009.pdf" target="_blank">Presentaci&oacute;n del plan Integral de Cuidados Paliativos</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('dia_11_de_tarde').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;D&iacute;a 11 de tarde</a>
		<div id="dia_11_de_tarde" style="display: none;">
		<ul>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_tarde/Accesos_venosos_de_larga_duracion_2009.pdf" target="_blank">Accesos venosos de larga duraci&oacute;n </a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_tarde/Generalidades_en_el_manejo_de_sintomas_2009.pdf" target="_blank">Generalidades en el manejo de s&iacute;ntomas </a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_tarde/La_visita_domiciliaria_2009.pdf" target="_blank">La visita domiciliaria </a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_tarde/Taller_de_via_subcutanea_2009.pdf" target="_blank">Taller de v&iacute;a subcut&aacute;nea</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_11_tarde/Vias_de_administracion_de_farmacos_2009.pdf" target="_blank">V&iacute;as de administraci&oacute;n de f&aacute;rmacos</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('dia_12_de_manana').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;D&iacute;a 12 de ma&ntilde;ana</a>
		<div id="dia_12_de_manana" style="display: none;">
		<ul>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_manana/Cuidados_de_la_boca_2009.pdf" target="_blank">Cuidados de la boca</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_manana/Cuidados_de_la_piel_2009.pdf" target="_blank">Cuidados de la piel</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_manana/Sindromes_urgentes_en_Cuidados_Paliativos_2009.pdf" target="_blank">S&iacute;ndromes urgentes en Cuidados Paliativos</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_manana/Sintomas_digestivos_en_cuidados_paliativos_2009.pdf" target="_blank">S&iacute;ntomas digestivos en cuidados paliativos</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_manana/Sintomas_respiratorios_2009.pdf" target="_blank">S&iacute;ntomas respiratorios en cuidados paliativos</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_manana/Sintomas_neuropsicologicos_2009.pdf" target="_blank">S&iacute;ntomas neuropsicologicos</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_manana/Tratamiento_del_Dolor_en_Cuidados_Paliativos_2009.pdf" target="_blank">Tratamiento del Dolor en Cuidados Paliativos</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('dia_12_de_tarde').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;D&iacute;a 12 de tarde</a>
		<div id="dia_12_de_tarde" style="display: none;">
		<ul>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_tarde/Agonia._Situacion_de_ultimos_dias_2009.pdf" target="_blank">Agon&iacute;a. Situaci&oacute;n de &uacute;ltimos d&iacute;as</a></li>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_12_tarde/Dilemas_eticos_en_el_final_de_la_vida_2009.pdf" target="_blank">Dilemas &eacute;ticos en el final de la vida</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('dia_13').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;D&iacute;a 13 de ma&ntilde;ana y tarde</a>
		<div id="dia_13" style="display: none;">
		<ul>
			<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/Dia_13_manana_y_tarde/Atencion_a_la_Familia_y_Cuidados_Paliativos_2009.pdf" target="_blank">Atenci&oacute;n a la Familia y Cuidados Paliativos</a></li>
		</ul>
		</div>
		</li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_VI/demencia_avanzada_sademi.pdf">demencia avanzada sademi</a></li>
	</ul>
	</div>
	</li>
	<li><a href="#" onclick="document.getElementById('Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Competencias en Cuidados Paliativos Nivel b&aacute;sico &Aacute;rea II </a>
	<div id="Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II" style="display: none;">
	<ul>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Aspectos_eticos_en_Cuidados_Paliatvos2009.pdf" target="_blank">Aspectos &eacute;ticos en Cuidados Paliativos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Atencion_a_la_agonia_2009.pdf" target="_blank">Atenci&oacute;n a la agon&iacute;a</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Atencion_Domiciliaria_2009.pdf" target="_blank">Atencion Domiciliaria </a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Control_de_sintomas.pdf" target="_blank">Control de sintomas</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Cuidados_generales_en_pacientes_terminales_2009.pdf" target="_blank">Cuidados generales en pacientes terminales</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Generalidades_en_Cuidados_Paliativos.pdf" target="_blank">Generalidades en Cuidados Paliativos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Humanizacion_de_los_Cuidados_Paliativos_en_el_Hospital_2009.pdf" target="_blank">Humanizaci&oacute;n de los Cuidados Paliativos en el Hospital</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/La_Coordinacion_en_el_Hospital.pdf" target="_blank">La Coordinaci&oacute;n en el Hospital</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Sintomas_Neurologicos_2009.pdf" target="_blank">S&iacute;ntomas Neurol&oacute;gicos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Sintomas_Respiratorios_2009.pdf" target="_blank">S&iacute;ntomas Respiratorios</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Vias_Centrales_de_larga_duracion_2009.pdf" target="_blank">V&iacute;as Centrales de larga duraci&oacute;n</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Vias_de_Administracion_de_Farmacos_2009.pdf" target="_blank">V&iacute;as de Administraci&oacute;n de F&aacute;rmacos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/programa.doc" target="_blank">Programa</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Dolor%20en%20Cuidados%20Paliativos.pdf" target="_blank">Dolor en Cuidados Paliativos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Sintomas%20digestivos%20en%20Cuidados%20Paliativos.pdf" target="_blank">S&iacute;ntomas Digestivos en Cuidados Paliativos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Sintomas%20en%20Cuidados%20Paliativos.pdf" target="_blank">S&iacute;ntomas en Cuidados Paliativos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Urgencias%20en%20Cuidados%20Paliativos.pdf" target="_blank">Urgencias en Cuidados Paliativos</a></li>
		<li><a href="/ups/Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_II/Visita%20en%20domicilio%20en%20Cuidados%20Paliativos.pdf" target="_blank">Visita en Domicilio en Cuidados Paliativos</a></li>
	</ul>
	</div>
	</li>
	<li><a href="#" onclick="document.getElementById('Competencias_en_Cuidados_Paliativos_Nivel_basico_Area_III').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Competencias en Cuidados Paliativos Nivel b&aacute;sico &Aacute;rea III </a></li>
	<li><a href="/ups/MANUAL_2010_.pdf" target="_blank">Manual 2010</a></li>
	<li><a href="/ups/PLAN_CUIDADOS_PALIATIVOS_2009_nueva_edicion_.pdf" target="_blank">Plan Cuidados Paliativos 2009</a></li>
</ul>

<p>&nbsp;</p>

<p><strong>OMI Atenci&oacute;n primaria </strong></p>

<ul>
	<li><a href="#" onclick="document.getElementById('OMI_Atencion_Primaria').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;OMI Atenci&oacute;n Primaria</a>

	<div id="OMI_Atencion_Primaria" style="display: none;">
	<ul>
		<li><a href="/ups/Manual%20OMI%20Personal%20Enfermeria.zip" target="_blank">Manual del curso b&aacute;sico de OMI AP para personal de enfermer&iacute;a. (fichero de 82Mg. en formato pdf comprimido con winzip)</a></li>
		<li><a href="/ups/Manual%20OMI%20Personal%20Medico.zip" target="_blank">Manual del curso b&aacute;sico de OMI AP para personal m&eacute;dico. (fichero de 92 Mg. en formato pdf comprimido con winzip)</a></li>
	</ul>
	</div>
	</li>
</ul>

<p>&nbsp;</p>

<p><strong>Curso Ley 3 2009</strong></p>

<ul>
	<li><a href="#" onclick="document.getElementById('Curso_Ley_3_2009').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Curso Ley 3 2009</a>

	<div id="Curso_Ley_3_2009" style="display: none;">
	<ul>
		<li><a href="/ups/documentacion_ley_3_2009/derechos_y_deberes.pdf" target="_blank">Derechos y Deberes del Usuario en los servicios de salud de la Regi&oacute;n de Murcia.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/guia_derechos_y_deberes_paciente.pdf" target="_blank">Gu&iacute;a de Derechos y Deberes del Paciente.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/LEY_3_2009.pdf" target="_blank">Ley 3 2009</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/MANUAL_LEY_3_2009_SMS.pdf" target="_blank">Manual Ley 3 2009</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/sugerencias_y_reclamaciones.pdf" target="_blank">Gu&iacute;a sobre sugerencias, reclamaciones, quejas y agradecimientos formuladas por los usuarios de servicios sanitarios.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/presentacion_Inmaculada_Gil.pdf" target="_blank">Presentaci&oacute;n Inmaculada Gil.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/Oviedo1997.pdf" target="_blank">Convenio de Oviedo 1997.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/3_ConvenioOviedo.pdf" target="_blank">Convenio de Oviedo.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/Declaracion_promocion_derechos_pacientes_en_Europa.pdf" target="_blank">Declaraci&oacute;n para la promoci&oacute;n de derechos de los pacientes en Europa.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/Derechos_Pacientes.pdf" target="_blank">Derechos de los pacientes.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/perspectiva_internacional_derechos_pacientes.pdf" target="_blank">Una perspectiva internacional de los derechos de los pacientes.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/Desarrollo_clase_dia_14_de_abril.pdf" target="_blank">Clase d&iacute;a 14 de abril.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/clase%20dia%2023.pdf" target="_blank">Clase d&iacute;a 23 de abril.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/clase%20dia%2013.pdf" target="_blank">Clase d&iacute;a 13.</a></li>
		<li><a href="/ups/documentacion_ley_3_2009/clase%20dia%2026.ppt" target="_blank">Clase d&iacute;a 26.</a>
		<ul>
			<li><a href="#" onclick="document.getElementById('Curso_Ley_3_2009_TrabajosAlumnos').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Trabajos de alumnos</a>
			<div id="Curso_Ley_3_2009_TrabajosAlumnos" style="display: none;">
			<ul>
				<li><a href="/ups/documentacion_ley_3_2009/diez_gimenez_dolores.pdf" target="_blank">D&iacute;az Gim&eacute;nez Dolores.</a></li>
				<li><a href="/ups/documentacion_ley_3_2009/lopez_hernandez_antonio.pdf" target="_blank">L&oacute;pez Hern&aacute;ndez Antonio.</a></li>
			</ul>
			</div>
			</li>
		</ul>
		</li>
	</ul>
	</div>
	</li>
</ul>

<p>&nbsp;</p>

<p><strong>Taller de gesti&oacute;n de casos</strong></p>

<ul>
	<li><a href="#" onclick="document.getElementById('Taller_gestion_casos').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Taller de gesti&oacute;n de casos</a>

	<div id="Taller_gestion_casos" style="display: none;">
	<ul>
		<li><a href="/ups/taller_gestion_casos_2010/Flujogramas.captacion-valoracion.pdf" target="_blank">Flujogramas.captaci&oacute;n-valoraci&oacute;n</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/Hoja_Inclusion_Gestion_de_Casos.pdf" target="_blank">Hoja Inclusi&oacute;n Gesti&oacute;n de Casos</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/PROTOCOLO_OMI_GESTION_CASOS.pdf" target="_blank">PROTOCOLO OMI GESTI&Oacute;N CASOS</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/CASO_1_ALZHEIMER_CIEZA.pdf" target="_blank">CASO_1_ALZHEIMER_CIEZA</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/CASO_2_EPOC_CIEZA.pdf" target="_blank">CASO_2_EPOC_CIEZA</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/Mercedes.Gomez.Ruiz.EGC_1_JUNIO_2010.pdf" target="_blank">&ldquo;ENFERMERA GESTORA DE CASOS&rdquo;: pieza clave de la continuidad de cuidados.Mercedes.Gomez.Ruiz</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/Modelo_Gestion_de_Casos_SMS.1_junio.2010.pdf" target="_blank">Modelo Gestion de Casos SMS.1_junio.2010</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/Selene.Inclusion_en_Gestion_de_Casos.pdf" target="_blank">Selene.Inclusion en Gestion de Casos</a></li>
		<li><a href="/ups/taller_gestion_casos_2010/triptic_formacion_harvard_2009_4.pdf" target="_blank">Enfermera gestora de casos en el servicio murciano de salud</a></li>
	</ul>
	</div>
	</li>
</ul>

<p>&nbsp;</p>

<p><strong>Taller b&aacute;sico de Coordinaci&oacute;n Interinstitucional en TDAH</strong></p>

<ul>
	<li><a href="#" onclick="document.getElementById('Taller_coordinacion_interinstitucional').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Taller b&aacute;sico de Coordinaci&oacute;n Interinstitucional en TDAH</a>

	<div id="Taller_coordinacion_interinstitucional" style="display: none;">
	<ul>
		<li><a href="#" onclick="document.getElementById('TCIED1').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Edici&oacute;n 1. &Aacute;rea de Lorca</a>

		<div id="TCIED1" style="display: none;">
		<ul>
			<li><a href="/ups/TCIED1/Caso%20clinico%20Fase%20intermedia.pdf" target="_blank">Caso cl&iacute;nico fase intermedia</a></li>
			<li><a href="/ups/TCIED1/CASO%20PRACTICO.pdf" target="_blank">Caso pr&aacute;ctico</a></li>
			<li><a href="/ups/TCIED1/Datos%20Area%20III.pdf" target="_blank">Datos &Aacute;rea III</a></li>
			<li><a href="/ups/TCIED1/DIAGNOSTICO%20DIFERENCIAL.pdf" target="_blank">Diagn&oacute;stico Diferencial</a></li>
			<li><a href="/ups/TCIED1/FLUJOGRAMA%20PROTOCOLO.pdf" target="_blank">Flujograma protocolo</a></li>
			<li><a href="/ups/TCIED1/Protocolo_TDA-H%20INTERVENCION%20EOEP.pdf" target="_blank">Protocolo TDA-H Intervenci&oacute;n EOEP</a></li>
			<li><a href="/ups/TCIED1/tdahconsenso.pdf" target="_blank">tdahconsenso</a></li>
			<li><a href="/ups/TCIED1/FLUJOGRAMA_PROTOCOLO.ppt" target="_blank">FLUJOGRAMA_PROTOCOLO</a></li>
			<li><a href="/ups/TCIED1/Protocolo_TDA-H._FASE_FINAL._SALUD_MENTAL_LORCA.ppt" target="_blank">Protocolo_TDA-H._FASE_FINAL._SALUD_MENTAL_LORCA</a></li>
			<li><a href="/ups/TCIED1/Presentacion_Protocolo.LORCA.ppt" target="_blank">Presentacion_Protocolo.LORCA</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('TCIED2').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Edici&oacute;n 2. &Aacute;reas de Cartagena y Mar Menor</a>
		<div id="TCIED2" style="display: none;">
		<ul>
			<li><a href="/ups/TCIED2/Caso%20clinico%20Fase%20intermedia.pdf" target="_blank">Caso cl&iacute;nico fase intermedia</a></li>
			<li><a href="/ups/TCIED2/CASO%20PRACTICO.pdf" target="_blank">Caso pr&aacute;ctico</a></li>
			<li><a href="/ups/TCIED2/DATOS%20ESTADISTICOS%20AREA%20IX.pdf" target="_blank">Datos &Aacute;rea IX</a></li>
			<li><a href="/ups/TCIED2/DIAGNOSTICO%20DIFERENCIAL.pdf" target="_blank">Diagn&oacute;stico Diferencial</a></li>
			<li><a href="/ups/TCIED1/FLUJOGRAMA_PROTOCOLO.ppt" target="_blank">FLUJOGRAMA_PROTOCOLO</a></li>
			<li><a href="/ups/TCIED2/Presentacion%20Cieza.pdf" target="_blank">Presentaci&oacute;n Cieza</a></li>
			<li><a href="/ups/TCIED2/Protocolo_TDA-H%20INTERVENCION%20EOEP.pdf" target="_blank">Protocolo TDA-H Intervenci&oacute;n EOEP</a></li>
			<li><a href="/ups/TCIED2/tdahconsenso.pdf" target="_blank">tdahconsenso</a></li>
			<li><a href="/ups/TCIED2/Protocolo_TDAH.FASE%20FINAL.SALUD%20MENTAL%20CIEZA%20Y%20ALTIPLANO.ppt" target="_blank">Protocolo_TDAH.FASE FINAL.SALUD MENTAL CIEZA Y ALTIPLANO.ppt</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('TCIED3').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Edici&oacute;n 3. &Aacute;reas de Vega Alta Segura y Altiplano</a>
		<div id="TCIED3" style="display: none;">
		<ul>
			<li><a href="/ups/TCIED3/Caso%20clinico%20Fase%20intermedia.pdf" target="_blank">Caso cl&iacute;nico fase intermedia</a></li>
			<li><a href="/ups/TCIED3/CASO%20PRACTICO.pdf" target="_blank">Caso pr&aacute;ctico</a></li>
			<li><a href="/ups/TCIED3/DATOS%20ESTADISTICOS%20CARTAGENA.pdf" target="_blank">Datos Cartagena</a></li>
			<li><a href="/ups/TCIED3/DIAGNOSTICO%20DIFERENCIAL.pdf" target="_blank">Diagn&oacute;stico Diferencial</a></li>
			<li><a href="/ups/TCIED3/Protocolo_TDA-H%20INTERVENCION%20EOEP.pdf" target="_blank">Protocolo TDA-H Intervenci&oacute;n EOEP</a></li>
			<li><a href="/ups/TCIED3/tdahconsenso.pdf" target="_blank">tdahconsenso</a></li>
			<li><a href="/ups/TCIED3/Protocolo__TDAH._FASE_FINAL_SALUD_MENTAL_CARTAGENA.ppt" target="_blank">Protocolo__TDAH._FASE_FINAL_SALUD_MENTAL_CARTAGENA</a></li>
			<li><a href="/ups/TCIED3/FLUJOGRAMA_PROTOCOLO.ppt" target="_blank">FLUJOGRAMA_PROTOCOLO</a></li>
			<li><a href="/ups/TCIED3/Presentacion%20Protocolo.CARTAGENA.pptm" target="_blank">Presentacion Protocolo.CARTAGENA</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('TCIED4').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Edici&oacute;n 4. &Aacute;reas de Murcia Oeste y Murcia Este</a>
		<div id="TCIED4" style="display: none;">
		<ul>
			<li><a href="/ups/TCIED4/Caso%20clinico%20Fase%20intermedia.pdf" target="_blank">Caso cl&iacute;nico fase intermedia</a></li>
			<li><a href="/ups/TCIED4/CASO%20PRACTICO.pdf" target="_blank">Caso pr&aacute;ctico</a></li>
			<li><a href="/ups/TCIED4/DATOS%20ESTADISTICOS%20MURCIA.pdf" target="_blank">Datos Murcia</a></li>
			<li><a href="/ups/TCIED4/DIAGNOSTICO%20DIFERENCIAL.pdf" target="_blank">Diagn&oacute;stico Diferencial</a></li>
			<li><a href="/ups/TCIED1/FLUJOGRAMA_PROTOCOLO.ppt" target="_blank">FLUJOGRAMA_PROTOCOLO</a></li>
			<li><a href="/ups/TCIED4/Protocolo_TDA-H%20INTERVENCION%20EOEP.pdf" target="_blank">Protocolo TDA-H Intervenci&oacute;n EOEP</a></li>
			<li><a href="/ups/TCIED4/tdahconsenso.pdf" target="_blank">tdahconsenso</a></li>
			<li><a href="/ups/TCIED4/Presentacion%20Protocolo.%20MURCIA.ppt" target="_blank">Presentacion Protocolo. MURCIA</a></li>
			<li><a href="/ups/TCIED4/Protocolo_TDA-H%20.FASE%20FINAL.SALUD%20MENTAL%20MURCIA.ppt" target="_blank">Protocolo_TDA-H .FASE FINAL.SALUD MENTAL MURCIA.ppt</a></li>
		</ul>
		</div>
		</li>
		<li><a href="#" onclick="document.getElementById('TCIED5').style.display='block';return false;"><img alt="" src="/iconos/folder.png" />&nbsp;Edici&oacute;n 5. &Aacute;reas de Noroeste y Vega Media Segura</a>
		<div id="TCIED5" style="display: none;">
		<ul>
			<li><a href="/ups/TCIED5/Caso%20clinico%20Fase%20intermedia.pdf" target="_blank">Caso cl&iacute;nico fase intermedia</a></li>
			<li><a href="/ups/TCIED5/CASO%20PRACTICO.pdf" target="_blank">Caso pr&aacute;ctico</a></li>
			<li><a href="/ups/TCIED5/DATOS%20ESTADISTICOS%20VEGA%20MEDIA%20Y%20NOROESTE.pdf" target="_blank">Datos Vega Media y Noroeste</a></li>
			<li><a href="/ups/TCIED5/DIAGNOSTICO%20DIFERENCIAL.pdf" target="_blank">Diagn&oacute;stico Diferencial</a></li>
			<li><a href="/ups/TCIED1/FLUJOGRAMA_PROTOCOLO.ppt" target="_blank">FLUJOGRAMA_PROTOCOLO</a></li>
			<li><a href="/ups/TCIED5/Protocolo_TDA-H%20INTERVENCION%20EOEP.pdf" target="_blank">Protocolo TDA-H Intervenci&oacute;n EOEP</a></li>
			<li><a href="/ups/TCIED5/tdahconsenso.pdf" target="_blank">tdahconsenso</a></li>
			<li><a href="/ups/TCIED5/Protocolo_TDA-H.FASE%20FINAL.SALUD%20MENTAL%20NOROESTE%20Y%20VEGA%20MEDIA.ppt" target="_blank">Protocolo_TDA-H.FASE FINAL.SALUD MENTAL NOROESTE Y VEGA MEDIA.ppt</a></li>
			<li><a href="/ups/TCIED5/Presentacion_Protocolo.NOROESTE_Y_VEGA_MEDIA.ppt" target="_blank">Presentacion_Protocolo.NOROESTE_Y_VEGA_MEDIA.ppt</a></li>
		</ul>
		</div>
		</li>
	</ul>
	</div>
	</li>
</ul>

<p>&nbsp;</p>
{% endblock %}