{% extends 'layout/base.html' %}
{% block contenido %}

{% if current_user.rol == 'admin' %}
<div class="row">
{% for servidor in listado %}
    <div class="col-sm-4 mt-4" align="center">
        <h5 class="card-title">{{ servidor['nombre']| title }}</h5>
        <div class="card-invisible">
            <a href="{{ url_for('panel.servidor', id_servidor=servidor['id_servidor']) }}"><img src="{{ url_for('static', filename='servers.jpg')}}" type="image/png" class="card-img-top redondeo"></a>
                <div class="card-body">
                    <a href="{{ url_for('panel.eliminarServidor', id_servidor=servidor['id_servidor']) }}" class="btn btn-danger btn-tamano "><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
            </img>
        </div>
    </div>
{% endfor %}
</div>


    {% endif %}

{% endblock %}