{% extends 'layout/base.html' %}
{% block contenido %}


<div class="row">
    <div class="pb-3 pt-3 col-md-12">
        <h3 colspan="6" class="text-center">CORREOS ENVIADOS</h3>
        <table class="table table-correos table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Fecha Envio</th>
                <th scope="col" class="text-center">Asunto</th>
                <th scope="col" class="text-center">Remitente</th>
                <th scope="col" class="text-center">Contenido</th>
            </tr>
            </thead>
            <tbody>
                {% for mail in mails %}
                    <tr>

                        <td align="center">{{ mail.0|striptags|title }}</td>
                        <td align="center">{{ mail.2|striptags|title }}</td>
                        <td align="center">{{ mail.1|striptags|title }}</td>
                        <td align="center">{{ mail.3|striptags|title }}</td>
                        <td><a href="{{ url_for('correo.correos', id=mail.0) }}" class="btn btn-tamano botonCorreo">Ver correo</a></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>


{% endblock %}