{% extends 'layout/base.html' %}
{% block contenido %}

<form class="row g-3" action="{{ url_for('autenticacion.registro') }}" method="POST">
  <div class="col-md-4">
    {{ registro.usuario.label(class="form-label") }}
    {{ registro.usuario(class="form-control") }}
  </div>
  <div class="col-md-4">
    {{ registro.apellido_uno.label(class="form-label") }}
    {{ registro.apellido_uno(class="form-control") }}
  </div>
  <div class="col-md-4">
    {{ registro.apellido_dos.label(class="form-label") }}
    {{ registro.apellido_dos(class="form-control") }}
  </div>
  <div class="col-md-4">
    {{ registro.password.label(class="form-label") }}
    {{ registro.password(class="form-control") }}
  </div>
  <div class="col-md-4">
    {{ registro.confirmar.label(class="form-label") }}
    {{ registro.confirmar(class="form-control") }}
  </div>
  <div class="col-md-4">
    {{ registro.correo.label(class="form-label") }}
    <div class="input-group">
      <span class="input-group-text">@</span>
      {{ registro.correo(class="form-control") }}
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    {{ registro.rol.label(class="form-label") }}
    {{ registro.rol(class="form-control") }}
  </div>
  <div class="col-md-4"></div>
  <div class="d-grip gap-2" align="center">
    <button class="btn btn-primary -btn-lg btn-block mt-2" type="submit">Añadir</button>
  </div>
</form>




{% endblock %}